user www-data;
worker_processes auto;
pid /run/nginx.pid;

events {
    worker_connections 1024;
}

http {
    # Define rate limit zone: 5 requests/sec per IP
    limit_req_zone $binary_remote_addr zone=per_ip:10m rate=5r/s;

    resolver 8.8.8.8 8.8.4.4 ipv6=off;
    error_log /var/log/nginx/proxy/error.log debug;
    access_log /var/log/nginx/proxy/access.log combined buffer=1k flush=1s;

    server {
        listen 8000 ssl;
        server_name {{ nginx_server_name | default(ansible_host) }};
        ssl_certificate /etc/nginx/certs/server.crt;
        ssl_certificate_key /etc/nginx/certs/server.key;
        ssl_client_certificate /etc/nginx/certs/ca.crt;
        ssl_verify_client on;
        ssl_protocols TLSv1.3;
        ssl_ciphers "ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256";
        
        # Apply rate limiting
        limit_req zone=per_ip burst=10 nodelay;
        limit_req_status 429;

        location / {
            proxy_pass https://rpc.cronos.org;
            proxy_set_header Host rpc.cronos.org;
            proxy_set_header User-Agent "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36";
            proxy_ssl_verify off;
            proxy_ssl_protocols TLSv1.3;
            proxy_ssl_ciphers "ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256";
            proxy_ssl_server_name on;
            proxy_ssl_session_reuse off;
        }
    }

    server {
        listen 8001 ssl;
        server_name {{ nginx_server_name | default(ansible_host) }};
        ssl_certificate /etc/nginx/certs/server.crt;
        ssl_certificate_key /etc/nginx/certs/server.key;
        ssl_client_certificate /etc/nginx/certs/ca.crt;
        ssl_verify_client on;
        ssl_protocols TLSv1.3;
        ssl_ciphers "ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256";
        
        # Apply rate limiting
        limit_req zone=per_ip burst=10 nodelay;
        limit_req_status 429;

        location / {
            proxy_pass https://rest.cronos.org;
            proxy_set_header Host rest.cronos.org;
            proxy_set_header User-Agent "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36";
            proxy_ssl_verify off;
            proxy_ssl_protocols TLSv1.3;
            proxy_ssl_ciphers "ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256";
            proxy_ssl_server_name on;
            proxy_ssl_session_reuse off;
        }
    }
}